In [1]:
import pandas as pd

In [2]:
test_df = pd.read_csv("test.csv")

In [3]:
test_df

,label,path,split,is_query,is_gallery
0,0,data/test_public/images/00000000/0.jpg,test,True,False
1,0,data/test_public/images/00000000/1.jpg,test,False,True
2,1,data/test_public/images/00000001/0.jpg,test,True,False
3,1,data/test_public/images/00000001/1.jpg,test,False,True
4,2,data/test_public/images/00000002/0.jpg,test,True,False
...,...,...,...,...,...
322377,161188,data/test_public/images/00161188/1.jpg,test,False,True
322378,161189,data/test_public/images/00161189/0.jpg,test,True,False
322379,161189,data/test_public/images/00161189/1.jpg,test,False,True
322380,161190,data/test_public/images/00161190/0.jpg,test,True,False
322381,161190,data/test_public/images/00161190/1.jpg,test,False,True

In [11]:
my_sub = pd.read_csv("../submissions/submission.csv")